header{
  background-color : #FBF8EE;
  width : 100vw;
  height : 100px;
  display : flex;
  justify-content : center;
}

.header__box{
  width : 80%;
  display : flex;
  align-items : center;
  justify-content : space-between;
}

.header__box__menu{
  display : flex;
}

.header__box__title{
  font-size : 25px;
  color : #9C847B;
  font-weight : bold;
  font-family : Fantasy;
}

.header__box__menu__font{
  font-size : 18px;
  color : #9C847B;
  cursor : pointer;
  margin-left : 20px;
  font-family : Fantasy;
}